<div>
  <% if current_user.current_action %>
    Current Action: <%= current_user.current_action.activity.name %>
  <% else %>
    No current action. Hit (b) to begin an action.
  <% end %>
  <% if current_activities.any? %>
    Available Activities:
    <table>
      <tr>
	<th>Activity</th>
	<th>Key Bind</th>
      </tr>
      <% current_activities.each do |activity| %>
	<tr>
	  <td><%= activity.name %></td>
	  <td><%= activity.key_bind %></td>
	</tr>
      <% end %>
    </table>
  <% end %>
  <%= link_to 'Create more activities', new_activity_path %>
</div>
<% if current_user.actions.any? %>
  <div>
    <table>
      <tr>
	<th>Action</th>
	<th>Start</th>
	<th>End</th>
      </tr>
      <% current_user.actions.preload(:activity).ordered.limit(5).each do |action| %>
	<tr>
	  <td><%= action.name %></td>
	  <td><%= action.start_at %></td>
	  <td><%= action.end_at %></td>
	</tr>
      <% end %>
    </table>
  </div>
<% end %>

<br />
<div>
  Total Time spent on activities:
  <table>
    <% current_activities.preload(:actions).each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= distance_of_time_in_words(activity.total_length_of_time) %></td>
      </tr>
    <% end %>
  </table>
</div>

<script>
  $( document ).ready(function() {
    <% current_activities.each do |activity| %>
      Mousetrap.bind('b <%= activity.key_bind %>', function() {
        $.post(
          '<%= actions_path %>',
          { activity_id: <%= activity.id  %>, "authenticity_token": "<%= form_authenticity_token %>" }
        ).success(function() {
          location.reload();
	}) ;
      });
    <% end %>
    Mousetrap.bind('e', function() {
      $.post(
        '<%= end_actions_path %>',
        { authenticity_token: '<%= form_authenticity_token %>'
      }).success(function() {
        location.reload();
      });
    });
  });
</script>
