<div class="btn-group pull-right" role="group">
  <%= link_to(new_activity_path, class: 'btn btn-default') do %>
    <%= icon_for(:add) %>
    Add New Activity
  <% end %>
</div>

<div>
  <% if current_activities.any? %>
    <h4>Available Keybinds/Activities:</h4>
    <% current_activities.in_groups_of(3, false) do |group| %>
      <div class='row'>
        <% group.each do |activity| %>
	  <div class="col-md-4"><%= badge_for(value: activity.key_bind) %> <%= activity.name %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<% if current_user.actions.any? %>
  <br />
  <h4>Last 5 Actions:</h4>
  <table class='table table-hover'>
    <tr>
      <th></th>
      <th></th>
      <th>Action</th>
      <th>Length of Time</th>
    </tr>
    <% current_user.actions.preload(:activity).ordered.limit(5).each do |action| %>
      <tr>
	<td><%= link_to(icon_for(:edit), edit_action_path(action)) %></td>
	<td><%= link_to(icon_for(:trash), action, method: :delete) %></td>
	<td><%= action.name %></td>
	<td><%= distance_of_time_in_words(action.length) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<script>
</script>

