<h1>New Activity</h1>
<%= render 'shared/error_messages', target: @activity %>
<%= form_for @activity, url: activities_path do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.submit 'Create' %>
<% end %>

